# Exclude files
*.ipynb
*.log
*.pth
*.png
*.old

# exclude everything
outputs/*
notebooks/*
results/*
.idea/*
__pycache__/*
multirun/*

# exceptions
!outputs/.gitkeep
!notebooks/.gitkeep
!results/.gitkeep
